.search {
  border: solid #dadada 1px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.search input[type=search] {
  border: none;
  position: relative;
  background-color: transparent;
  top: 3px;
}

.search input[type=submit] {
  border: none;
  background-color: transparent;
}

.search i {
  position: relative;
  top: 3px;
}

.faux_select {
  color: #bababa;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid 1px #e1e1e1;
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-right: 10px;
  position: relative;
  top: 5px;
  cursor: default;
}

.faux_select .all_options {
  display: none;
  position: absolute;
  left: -1px;
  border: solid 1px #e1e1e1;
  border-top: none;
  background-color: white;
  width: 123px;
  z-index: 4;
}

.faux_select .all_options .option {
  padding-left: 10px;
  padding-bottom: 2px;
  padding-right: 10px;
  transition-duration: 1s;
}

.faux_select .all_options .option:hover {
  background-color: #b09fed;
  color: white;
}

.mini_profil {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-size: cover;
}

.home .carrousel {
  height: 150px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/1710073.jpg");
}

.home .carrousel div {
  background-color: white;
  font-size: 20px;
  font-family: Comfortaa-Bold;
  padding: 0px;
  margin: auto;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  top: 50px;
}

.home .add_annonce {
  height: 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: solid #d7d7d7 1px;
  background-color: white;
  position: relative;
  color: #d7d7d7;
  font-size: 20px;
  padding: 10px;
  padding-top: 0px;
  top: 90px;
  margin-left: 20px;
  cursor: pointer;
}

.home .annonces {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.home .annonces a {
  text-decoration: none;
  color: black;
}

.home .annonces .annonce {
  border: solid #d7d7d7 1px;
  background-color: white;
  height: 300px;
  width: 230px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.home .annonces .annonce .photo {
  background-color: white;
  width: 180px;
  height: 180px;
  margin: auto;
  background-size: cover;
}

.home .annonces .annonce p {
  margin: 0px;
}

.home .annonces .annonce .nom {
  font-weight: bolder;
  font-size: 20px;
}

.home .annonces .annonce .prix {
  float: right;
}

.fond_add {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.568);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 140%;
  overflow: auto;
}

.popup_add {
  display: none;
  z-index: 5;
  background-color: white;
  position: fixed;
  left: 25%;
  top: 15%;
  width: 600px;
  height: 440px;
  overflow: unset;
  box-shadow: 10px 10px 0px #3c6b8f;
  padding: 10px;
  flex-direction: column;
}

.popup_add select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  float: right;
  border-radius: 0px;
  border: none;
}

.popup_add select option {
  height: 40px;
}

.popup_add .title {
  border: none;
  border-bottom: solid 1px #d2d2d2;
  width: 300px;
  margin-bottom: 20px;
}

.popup_add textarea {
  background-color: #f4f4f4;
  border: none;
  height: 200px;
  margin-bottom: 20px;
}

.popup_add input[type=text] {
  font-size: 40px;
}

.popup_add .top {
  height: 50px;
  border: none;
  padding-right: 10px;
}

.popup_add .top .popin-dismiss {
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.popup_add .pictures {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup_add .pictures .picture {
  height: 80px;
  width: 80px;
  background-color: #ebebeb;
  color: white;
  margin: auto;
  margin-right: 20px;
  align-self: center;
  text-align: center;
  font-size: 30px;
}

.popup_add .pictures .picture i {
  position: relative;
  top: 15px;
}

.popup_add .pictures p .price {
  width: 50px;
  float: right;
}

.popup_add input[type=submit] {
  height: 30px;
  align-self: flex-end;
  border: none;
  color: white;
  background-color: #97a484;
}

.profil {
  justify-content: space-between;
}

.profil a {
  text-decoration: none;
}

.profil .profil_info {
  width: 60%;
}

.profil .profil_info .profil_picture {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

.profil .profil_info .info {
  font-size: 10px;
  color: darkgray;
}

.profil .profil_info .info .name {
  font-size: 30px;
}

.profil .profil_info .button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  color: #d5d5d5;
  padding: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: solid 1px #d5d5d5;
  margin-top: 10px;
}

.profil .profil_annonces {
  border: solid 1px #dfdfdf;
  height: 450px;
  width: 100%;
  background-color: white;
}

.profil .profil_annonces .mes_annonces {
  width: 90%;
  margin: auto;
  border-bottom: solid 1px #dfdfdf;
  height: 250px;
  padding-top: 10px;
}

.profil .profil_annonces .mes_annonces h1 {
  font-family: Comfortaa-Bold;
  font-size: 20px;
  color: #dfdfdf;
}

.profil .profil_annonces .mes_annonces a {
  color: #c1c1c1;
}

.profil .profil_annonces .mes_annonces .annonces {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 200px;
}

.profil .profil_annonces .mes_annonces .annonces .annonce {
  height: 150px;
  width: 120px;
  border: solid 1px #dfdfdf;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profil .profil_annonces .mes_annonces .annonces .annonce .photo {
  background-color: #dfdfdf;
  background-size: cover;
  height: 90px;
  width: 90px;
  margin: auto;
  margin-top: 5px;
}

.profil .profil_annonces .mes_annonces .annonces .annonce p {
  margin: 0px;
}

.profil .profil_annonces .mes_annonces .annonces .annonce .nom {
  padding-left: 10px;
  font-size: 12px;
}

.profil .profil_annonces .mes_annonces .annonces .annonce .prix {
  float: right;
  font-size: 10px;
  padding-right: 5px;
  color: #c9c9c9;
}

.profil .profil_annonces .mes_annonces .annonces .annonce .edit {
  font-size: 10px;
  padding-left: 8px;
}

.profil .profil_annonces .dernieres_annonces {
  width: 90%;
  margin: auto;
  height: 180px;
  padding-top: 10px;
}

.profil .profil_annonces .dernieres_annonces h1 {
  font-family: Comfortaa-Bold;
  font-size: 20px;
  color: #dfdfdf;
}

.profil {
  display: flex;
  justify-content: space-between;
}

.profil .form_edit {
  background-color: white;
  padding: 10px;
  margin: auto;
  width: 300px;
  box-shadow: 2px 2px 1px #cbcbcb;
}

.profil .form_edit .div_picture_content {
  background: #dedede;
}

.profil .form_edit .div_picture_content .profil_picture_edit {
  height: 200px;
  background-color: whitesmoke;
  width: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.profil .form_edit input {
  float: right;
}

.annonce_show {
  display: flex;
}

.annonce_show .gallery {
  display: flex;
  height: 420px;
  margin-right: 20px;
}

.annonce_show .gallery .small_pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.annonce_show .gallery .small_pictures .small_picture {
  height: 100px;
  width: 100px;
  background-size: cover;
}

.annonce_show .gallery .show {
  width: 420px;
  height: 420px;
  border: solid white;
  background-size: cover;
}

.annonce_show .info {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: flex-end;
}

.annonce_show .info .price {
  float: right;
  margin-bottom: 20px;
}

.annonce_show .info p {
  font-size: 10px;
}

.title_edit {
  background-color: transparent;
  font-size: 50px;
  width: 300px;
  border: none;
}

.price_edit {
  background-color: transparent;
  width: 50px;
  border: none;
  font-size: 30px;
}

.euro {
  display: inline-block;
}

.description_edit {
  width: 350px;
  height: 200px;
  border: none;
  position: relative;
  bottom: 20px;
  background-color: transparent;
}

.boutons {
  display: flex;
  position: relative;
  bottom: 20px;
}

.boutons a {
  text-decoration: none;
}

.boutons .bouton_edit {
  border: solid 1px #dfdfdf;
  color: #b1b1b1;
  text-align: center;
  background-color: white;
  width: 100px;
  height: 30px;
  padding: 2px;
  cursor: default;
}

.boutons .bouton_delete {
  border: solid 1px #dfdfdf;
  color: white;
  text-align: center;
  background-color: #e891c5;
  width: 100px;
  height: 30px;
  padding: 2px;
  cursor: default;
  margin-right: 20px;
}

.nav_result {
  background-color: white;
  height: 60px;
  border-bottom: solid 1px #dfdfdf;
}

.nav_result p {
  padding-top: 15px;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

