$grey: rgb(169, 169, 169);
//////// NAV
.search{
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;

    input[type="search"]{
        border: none;
        position: relative;
        background-color: transparent;
        top: 3px;
  
    }

    input[type="submit"]{
        border: none;
        background-color: transparent;
       
    }

    i{
        position: relative;
        top: 3px;
    }


}

.faux_select{
    //width: 100px;
    color: rgb(186, 186, 186);
    height: max-content;
    border: solid 1px rgb(225, 225, 225);
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    position: relative;
    top: 5px;
    cursor: default;

    .all_options{
        display: none;
        position: absolute;
        left: -1px;
        border: solid 1px rgb(225, 225, 225);
        border-top: none;
        background-color: white;
        width: 123px;
       
        z-index: 4;

        .option{
            padding-left: 10px;
            padding-bottom: 2px;
            padding-right: 10px;
            transition-duration: 1s;
            &:hover{
                background-color: rgb(176, 159, 237);
                color: white;
            }

        }
    }
}

.mini_profil{
    //border: solid;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-size: cover;
}
//////// HOME
.home{
    //padding: 20px;

    .carrousel{
        height: 150px;
        //width: 80%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://wallpaperaccess.com/full/1710073.jpg');
        div{
            background-color: white;
            font-size: 20px;
            font-family: Comfortaa-Bold;
            padding: 0px;
            margin: auto;
            text-align: center;
            width: max-content;
            position: relative;
            top: 50px;
        }
    }



    .add_annonce{
        height: 35px;
        width: max-content;
        border: solid rgb(215, 215, 215) 1px;
        background-color: white;
        position: relative;
        color: rgb(215, 215, 215);
        font-size: 20px;
        padding: 10px;
        padding-top: 0px;
        top: 90px;
        margin-left: 20px;
        cursor: pointer;
    }
    .annonces{
        padding: 20px;
        margin-top: 100px;
        //background-color: white;
        //padding: 10px;
        display: flex;
        flex-wrap: wrap;

        a{
            text-decoration: none;
            color:  black;
        }

        .annonce{

            border: solid rgb(215, 215, 215) 1px;
            background-color: white;
            height: 300px;
            width: 230px;
            padding: 20px;
            margin-right: 20px;
            margin-bottom: 20px;

            .photo{
                background-color: white;
                width:180px;
                height: 180px;
                margin: auto;  
                background-size: cover;
            }

            p{
                margin: 0px;
            }

            .nom{
                font-weight: bolder;
                font-size: 20px;
            }
            .prix{
                float: right;
            }
       

        }
    }
}


/////// ADD ANNONCE

.fond_add{
    display: none;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.568);
    position: fixed; 
    bottom: 0px;
    width: 100%;
    height: 140%; 
    overflow: auto;
}

.popup_add{
    //display: flex;
    display: none;
    z-index: 5;
    background-color:white;
    position: fixed; 
    left: 25%;
    top: 15%;
    width: 600px;
    height: 440px; 
    overflow: unset;
    box-shadow: 10px 10px 0px rgb(60, 107, 143);
    padding: 10px;
    flex-direction: column;

    select{
        width: max-content;
        height: 40px;
        float: right;
        //margin-bottom: 20px;
        border-radius: 0px;
        border: none;

        option{
            height: 40px;
        }
    }
    .title{
        border: none;
        border-bottom: solid 1px rgb(210, 210, 210);
        width: 300px;
        margin-bottom: 20px;
    }

    textarea{
        background-color:  rgb(244, 244, 244);
        border: none;
        height: 200px;
        margin-bottom: 20px;
    }

    input[type="text"]{
        font-size: 40px;
    }

    .top{

        height: 50px;
        border: none;
        padding-right: 10px;
        .popin-dismiss{
           
            font-size: 30px;
            float: right;
            cursor: pointer;
            //width: 100%;
        }
    }

    .pictures{
        display: flex;
        justify-content: space-between;
        //width: 400px;
        margin-bottom: 20px;
        .picture{
            height: 80px;
            width: 80px;
            background-color: rgb(235, 235, 235);
            color: white;
            margin: auto;
            margin-right: 20px;
            align-self: center;
            text-align: center;
            font-size: 30px;
            i{

                position: relative;
                top: 15px;
            }

        }
        
        p{
            //border: solid;
            .price{
                width: 50px;
                float: right;
                //border: solid black;
            }
        }
    }

    input[type="submit"]{
        height: 30px;
        align-self: flex-end;
        border: none;
        color: white;
        background-color: rgb(151, 164, 132);
    }
}

//////// PROFIL
.profil{
    //display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
    }

    .profil_info{
        width: 60%;


        .profil_picture{
            height: 200px;
            //background-color: whitesmoke;
            width: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100px;

        }



        .info{
            //padding-top: 40px;
            font-size: 10px;
            color:$grey;

            .name{
                font-size: 30px;
            }
        }

        .button{
            height: max-content;
            background-color: white;
            color: rgb(213, 213, 213);
            padding: 5px;
            width: max-content;
            border:solid 1px rgb(213, 213, 213);
            margin-top: 10px;
        }

    }

    .profil_annonces{

        border: solid 1px rgb(223, 223, 223);
        height: 450px;
        width: 100%;
        background-color: white;

        .mes_annonces{
            width: 90%;
            margin: auto;
            border-bottom: solid 1px rgb(223, 223, 223);
            height: 250px;
            padding-top: 10px;

            h1{
                font-family: Comfortaa-Bold;
                font-size: 20px;
                color: rgb(223, 223, 223);
            }

            a{
                color: rgb(193, 193, 193);
            }
            .annonces{
                display: flex;
                flex-wrap: wrap;
                overflow: scroll;
                height: 200px;

                .annonce{
                    height: 150px;
                    width: 120px;
                    border: solid 1px rgb(223, 223, 223);
                    padding: 5px;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    .photo{
                        background-color: rgb(223, 223, 223);;
                        background-size: cover;
                        height: 90px;
                        width: 90px;
                        margin: auto;
                        margin-top: 5px;
                    }

                    p{
                        margin: 0px;
                    }
                            .nom{
                                padding-left: 10px;
                                font-size: 12px;
                            }

                            .prix{
                                float: right;
                                font-size: 10px;
                                padding-right: 5px;
                                color: rgb(201, 201, 201);
          
                            }

                            .edit{
                                font-size: 10px;
                                padding-left: 8px;
                            }
                }
            }
        }

        .dernieres_annonces{
            width: 90%;
            margin: auto;
            //border-bottom: solid 1px rgb(223, 223, 223);
            height: 180px;
            padding-top: 10px;

            h1{
                font-family: Comfortaa-Bold;
                font-size: 20px;
                color: rgb(223, 223, 223);
            }
        }

    }
}



//////// PROFIL EDIT
.profil{
    display: flex;
    justify-content: space-between;

    .form_edit{
        background-color: white;
        padding: 10px;
        margin: auto;
        width: 300px;
        box-shadow: 2px 2px 1px rgb(203, 203, 203);


        .div_picture_content{
            background: rgb(222, 222, 222);

            .profil_picture_edit{
                height: 200px;
                background-color: whitesmoke;
                width: 200px;
                margin: auto;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        input{
            float: right;

        }
    }
}




///// ANNONCE



.annonce_show{

    display: flex;

    .gallery{
        display: flex;
        height: 420px;
        margin-right: 20px;

        .small_pictures{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;

            .small_picture{
                //border: solid white;
                height: 100px;
                width: 100px;
                background-size: cover;
            }
        }

        .show{
            width: 420px;
            height: 420px;
            border: solid white;
            background-size: cover;
        }

    }

    .info{
       height: max-content;
       align-self: flex-end;

       .price{
           float: right;
           margin-bottom: 20px;
       }

       p{
           font-size: 10px;
       }

       .description{
          
       }

    }

}




/////// EDIT ANNONCE

.title_edit{
    background-color: transparent;
    font-size: 50px;
    width: 300px;
    border: none;
}

.price_edit{
    //float: right;
    background-color: transparent;
    width: 50px;
    border: none;
    font-size: 30px;
    
}

.euro{
    display: inline-block;
}

.description_edit{
    width: 350px;
    height: 200px;
    border: none;
    position: relative;
    bottom: 20px;
    background-color: transparent;
}

.boutons{
    display: flex;
    position: relative;
    bottom: 20px;

    a{
        text-decoration: none;
    }

    .bouton_edit{
        border: solid 1px rgb(223, 223, 223);
        color: rgb(177, 177, 177);
        text-align: center;
        background-color: white;
        width: 100px;
        height: 30px;
        padding: 2px;
        cursor: default;
    }

    .bouton_delete{
        border: solid 1px rgb(223, 223, 223);
        color:white;
        text-align: center;
        background-color: rgb(232, 145, 197);
        width: 100px;
        height: 30px;
        padding: 2px;
        cursor: default;
        margin-right: 20px;
    }
}


.nav_result{
    background-color: white;
    height: 60px;
    border-bottom: solid 1px rgb(223, 223, 223);

    p{
        padding-top: 15px;
        margin: auto;
        width: max-content;
    }
}